#export("^[[:alpha:]]+")

# Functions available to the user (API)
export("cluster_GO")
export("expression_plot")
export("expression_plot_symbol")
export("GO_analyse")
export("heatmap_GO")
export("hist_scores")
export("list_genes")
export("overlap_GO")
export("plot_design")
export("quantiles_scores")
export("subset_scores")
export("table_genes")

# Package required for the features of GOexpress to work
import(Biobase)
import(biomaRt)
import(gplots)
import(ggplot2)
import(grid)
import(stringr)
import(RColorBrewer)
import(VennDiagram)
